* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #18262d;
    overflow: overlay;
}


/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #152126;
    border-bottom: 1px solid #373737;
}
.logo a {
    display: flex;
    user-select: none;
    padding: 20px;
}
.logo img {
    height: 28px;
    max-width: 300px;
    transition: all 0.2s;
}
.logo img:hover {
    filter: grayscale(1);
    transition: all 0.2s;
}
/* End Header */


/* Main */
main {
    display: flex;
    justify-content: center;
    margin: 46px 14px 90px 14px;
}
.main-container {
    max-width: 990px;
    width: 100%;
}


#overlay-blur-effect {
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(11px);
    user-select: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .6;
}


.search-tickets-container {
    position: fixed;
    left: 0;
    right: 0;
    top: -300px;
    width: 100%;
    max-width: 563px;
    margin: auto;
    z-index: 10;
    transition: all 0.5s;
}
.search-tickets-box {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #232e3d;
    color: #ffffff;
    box-shadow: 0 0 18px -14px #000000;
    border-radius: 10px;
    width: 100%;
    max-width: 563px;
    padding: 28px 23px;
}
.search-tickets-box label {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 34px;
}
.search-tickets-box input {
    font-size: 16px;
    outline-color: #39da97;
    border: none;
    border-radius: 6px;
    user-select: none;
    padding: 10px 15px;
}
.search-tickets-box button {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(52, 216, 148);
    color: rgb(255, 255, 255);
    border-radius: 7px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    user-select: none;
    width: 100%;
    padding: 9px;
    transition: all 0.2s ease 0s;
    margin-top: 20px;
}
.search-tickets-box button:hover {
    opacity: 0.7;
    transition: opacity 0.2s;
}
#close-search-tickets {
    filter: invert(100%) sepia(5%) saturate(18%) hue-rotate(159deg) brightness(102%) contrast(102%);
    position: absolute;
    right: 27px;
    top: 23px;
    height: 18px;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.1s;
}
#close-search-tickets:hover {
    opacity: 0.5;
    transition: opacity 0.1s;
}


.my-tickets {
    display: flex;
    max-width: 1000px;
    width: 100%;
    user-select: none;
}
.my-tickets a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #8b8b8b;
    border: 1px solid #373737;
    border-radius: 9px;
    text-decoration: none;
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 10px;
    transition: all 0.2s;
}
.my-tickets a:hover {
    opacity: 0.4;
    transition: all 0.2s;
}
.my-tickets a img {
    filter: invert(46%) sepia(0%) saturate(6746%) hue-rotate(273deg) brightness(115%) contrast(77%);
    height: 16px;
    margin-right: 11px;
}

.raffle {
    margin-bottom: 32px;
}
.main-image {
    position: relative;
    display: flex;
    border: 1px solid #373737;
    border-radius: 12px;
}
.main-image img {
    width: 100%;
    max-height: 550px;
    border-radius: 12px;
    object-fit: cover;
    user-select: none;
}
.main-statement {
    position: absolute;
    bottom: 7px;
    left: 7px;
    font-size: 15px;
    font-weight: 500;
    color: #1c1c1c;
    background: #ffffff;
    border-radius: 10px;
    user-select: none;
    padding: 11px 21px;
}
.main-statement b {
    color: #68a543;
    font-weight: 500;
    text-decoration: underline;
}


.raffle h2 {
    font-size: 25px;
    color: #ffffff;
    border-bottom: 1px solid #373737;
    padding-bottom: 20px;
    margin-top: 23px;
    margin-bottom: 12px;
}


.raffle-organizer {
    display: flex;
    align-items: center;
}
.organizer-image {
    display: flex;
    margin-right: 10px;
}
.organizer-image img {
    object-fit: cover;
    height: 80px;
    width: 80px;
    border: 1px solid #373737;
    border-radius: 50%;
    user-select: none;
}
.organizer-info p {
    font-size: 14px;
    color: #cacaca;
}
.organizer-info h4 {
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}
.organizer-tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
    margin-top: 6px;
}
.organizer-tags a {
    text-decoration: none;
}
.organizer-tags img {
    display: flex;
    height: 17px;
    margin-right: 5px;
}
.tag {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    background-color: #489f35;
    border-radius: 15px;
    padding: 4px 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    user-select: none;
    transition: opacity 0.2s;
}
.tag:hover {
    opacity: 0.5;
    transition: opacity 0.2s;
}
.tag span {
    display: inline-flex;
    font-size: 14px;
    color: white;
}


/* tags */
.support {
    background-color: #489f35;
}
.telegram {
    background-color: #30a6e0;
}
.instagram {
    background-color: #333333;
}
/* tags */


.raffle-description, .raffle-ranking, .raffle-tickets, .raffle-payment-method, .raffle-origin {
    background-color: #152126;
    color: #e9e9e9;
    border: 1px solid #373737;
    border-radius: 13px;
    padding: 30px;
    margin-top: 35px;
}
.raffle-description h4, .raffle-ranking h4, .raffle-tickets h4, .raffle-payment-method h4, .raffle-origin h4 {
    font-size: 15px;
    color: #a8a8a8;
    text-transform: uppercase;
    text-align: center;
    text-align: -webkit-center;
    margin-bottom: 28px;
}
.podium {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
}
.rank {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    text-align: center;
    text-align: -webkit-center;
    margin: 0 26px;
}
.rank img {
    max-width: 48px;
    width: 100%;
    user-select: none;
    margin-bottom: 10px;
}
.rank p {
    margin-bottom: 3px;
}


.add-tickets-container {
    display: flex;
    justify-content: center;
    color: #656565;
    margin-top: 28px;
}
.add-tickets-box {
    max-width: 515px;
    width: 100%;
}
.add-tickets {
    display: flex;
    justify-content: center;
    color: #e4e4e4;
    user-select: none;
}
.qty-btn {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #373737;
    border-radius: 9px;
    cursor: pointer;
    padding: 9px;
    max-width: 98px;
    width: 100%;
    margin-right: 15px;
    transition: all 0.2s;
}
.qty-btn:last-child {
    margin-right: 0;
}
.qty-btn:hover {
    background-color: #34D894;
    color: #ffffff;
    border: 1px solid #34D894;
    transition: all 0.3s;
}
.qty-btn:focus {
    outline-color: #e55f5f;
}


.quantity-container {
    display: block;
    margin-top: 7px;
}
.quantity-box {
    display: flex;
    justify-content: center;
}
.quantity input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    outline: none;
    max-width: 50px;
    border: 1px solid #373737;
    border-width: 0 1px 0 1px;
    text-align: center;
    text-align: -webkit-center;
}
.decrease span, .increase span {
    display: flex;
    font-size: 16px;
    text-decoration: none;
    color: #e4e4e4;
    cursor: pointer;
    border: 1px solid #373737;
    border-radius: 7px;
    user-select: none;
    padding: 7px 20px;
    transition: all 0.2s;
}
#quantityValue {
    font-size: 16px;
    outline-color: #489f35;
    border: 1px solid #dbdbdb;
    border-radius: 7px;
    text-align: center;
    text-align: -webkit-center;
    max-width: 442px;
    width: 100%;
    margin: 0 5px;
}
.decrease span:hover {
    background-color: #d83434;
    color: #ffffff;
    transition: all 0.3s;
}
.increase span:hover {
    background-color: #34D894;
    color: #ffffff;
    transition: all 0.3s;
}


.total {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-top: 22px;
    margin-bottom: 16px;
}


.purchase-tickets-container {
    position: fixed;
    left: 0;
    right: 0;
    top: -700px;
    width: 100%;
    max-width: 563px;
    margin: auto;
    z-index: 10;
    transition: all 0.5s;
}
.purchase-tickets-box {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #232e3d;
    color: #ffffff;
    box-shadow: 0 0 18px -14px #000000;
    border-radius: 10px;
    width: 100%;
    max-width: 563px;
    padding: 28px 23px;
}
.purchase-tickets-box label {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 21px;
}
.purchase-tickets-box input {
    font-size: 16px;
    outline-color: #39da97;
    border: none;
    border-radius: 6px;
    user-select: none;
    padding: 10px 15px;
    margin-top: 15px;
}
.purchase-tickets-box button {
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    background-color: #39da97;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    margin-top: 20px;
    transition: opacity 0.2s;
}
.purchase-tickets-box button:hover {
    opacity: 0.7;
    transition: opacity 0.2s;
}
#close-purchase-tickets {
    filter: invert(100%) sepia(5%) saturate(18%) hue-rotate(159deg) brightness(102%) contrast(102%);
    position: absolute;
    right: 27px;
    top: 23px;
    height: 18px;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.1s;
}
#close-purchase-tickets:hover {
    opacity: 0.5;
    transition: opacity 0.1s;
}

.terms {
    display: flex;
    align-items: flex-start;
    margin: 26px 10px 0 10px;
}
.terms input {
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    background-color: #ffffff;
    outline: 2px solid #333;
    border: 2px solid #ffffff;
    width: 16px;
    height: 16px;
    cursor: pointer;
    padding: 7px;
    margin: 2px 9px 0 0;
}
.terms input:checked {
    background: #34d894;
}
.terms p {
    font-size: 14px;
}
.terms p a {
    font-size: 14px;
    color: #ffffff;
}

.purchase button {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    background-color: #34d894;
    color: #ffffff;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    user-select: none;
    width: 100%;
    padding: 9px;
    transition: all 0.2s;
}
.purchase button:hover {
    background-color: #1ca56c;
    transition: all 0.3s;
}
.purchase-submit-btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background-color: #34d894;
    color: #ffffff;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    user-select: none;
    margin-top: 20px;
    padding: 9px;
    transition: all 0.2s;
}
.purchase-submit-btn:hover {
    background-color: #1ca56c;
    transition: all 0.3s;
}

#quantity-error {
    display: none;
    color: red;
    text-align: center;
    text-align: -webkit-center;
    margin-top: 17px;
}


.raffle-payment-method h4, .raffle-origin h4 {
    text-align: left;
    text-align: -webkit-left;
}
.raffle-duals {
    display: flex;
}
.raffle-payment-method, .raffle-origin {
    width: 100%;
}
.raffle-payment-method {
    margin-right: 12px;
}
.raffle-text img {
    user-select: none;
    max-width: 100px;
    width: 100%;
}
/* Main */


@media (max-width: 900px) {
    .raffle h2 {
        font-size: 20px;
    }
    .raffle-description, .raffle-ranking, .raffle-tickets, .raffle-payment-method, .raffle-origin {
        font-size: 15px;
    }


    .my-tickets a {
        font-size: 14px;
        padding: 10px 20px;
    }
    .my-tickets a img {
        height: 14px;
    }


    .main-statement {
        font-size: 13px;
        padding: 8px 17px;
    }
    

    .podium {
        justify-content: space-between;
    }
    .rank {
        margin: 0 5px;
    }
    .rank p {
        font-size: 13px;
    }
}


@media (max-width: 700px) {
    .search-tickets-box label {
        font-size: 16px;
    }
    .search-tickets-box input {
        font-size: 14px;
    }
    .search-tickets-box button {
        font-size: 14px;
    }


    .raffle h2 {
        font-size: 18px;
    }
    .raffle-description, .raffle-ranking, .raffle-tickets, .raffle-payment-method, .raffle-origin {
        font-size: 12px;
    }

    .raffle-description h4, .raffle-ranking h4, .raffle-tickets h4, .raffle-payment-method h4, .raffle-origin h4 {
        font-size: 13px;
    }


    .my-tickets a {
        font-size: 13px;
        padding: 10px 20px;
    }
    .my-tickets a img {
        height: 13px;
    }


    .main-statement {
        font-size: 12px;
        padding: 8px 17px;
    }
    

    .organizer-info p {
        font-size: 12px;
    }
    .organizer-info h4 {
        font-size: 14px;
    }

    .tag span {
        font-size: 11px;
    }

    .podium {
        justify-content: space-between;
    }
    .rank {
        margin: 0 5px;
    }
    .rank p {
        font-size: 12px;
    }

    .qty-btn {
        font-size: 14px;
    }
    .purchase button {
        font-size: 14px;
    }

    .purchase-tickets-box label {
        font-size: 16px;
    }
    .purchase-tickets-box input {
        font-size: 14px;
    }
    .terms p, .terms p a {
        font-size: 12px;
    }
    .purchase-submit-btn {
        font-size: 14px;
    }
}