* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fafafa;
    overflow: overlay;
}


/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #152126;
    border-bottom: 1px solid #373737;
}
.logo a {
    display: flex;
    user-select: none;
    padding: 20px;
}
.logo img {
    height: 28px;
    max-width: 300px;
    transition: all 0.2s;
}
.logo img:hover {
    filter: grayscale(1);
    transition: all 0.2s;
}
/* End Header */


/* Main */
main {
    display: flex;
    justify-content: center;
    margin: 46px 14px 90px 14px;
}
.main-container {
    max-width: 990px;
    width: 100%;
}


.checkout-list {
    display: flex;
    justify-content: center;
}
.information-list {
    max-width: 800px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 14px;
    padding: 12px;
}
.info {
    border-bottom: 1px solid #d0d0d0;
    padding: 21px 14px;
}
.info span, b {
    font-size: 16px;
    color: #373737;
}
.see-tickets {
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    color: #373737;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
    padding: 12px;
    margin-top: 12px;
    transition: all 0.2s;
}
.see-tickets:hover {
    background-color: #f3f3f3;
    color: #000000;
    border-radius: 9px 9px 25px 25px;
    transition: all 0.2s;
}

.ticket-numbers {
    opacity: 0;
    visibility: hidden;
    height: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: margin 0.4s;
}
.ticket-numbers p {
    font-size: 15px;
    color: #474747;
    border: 1px solid #6f6f6f;
    border-radius: 7px;
    min-width: 44px;
    text-align: center;
    text-align: -webkit-center;
    padding: 8px;
    margin: 0 5px 5px 0;
}
.ticket-numbers p:last-child {
    margin-right: 0;
}
.visible {
    height: max-content;
    visibility: visible;
    opacity: 1;
    margin: 28px 22px;
    transition: all 0.4s;
}


.purchase {
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: -webkit-center;
    text-decoration: none;
}
.purchase span {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #1ca56c;
    color: #ffffff;
    border-radius: 7px;
    max-width: 800px;
    width: 100%;
    cursor: pointer;
    user-select: none;
    padding: 11px;
    margin-top: 20px;
    transition: all 0.2s;
}
.purchase span:hover {
    background-color: #168a5b;
    transition: all 0.3s;
}
/* Main */


@media (max-width: 900px) {
    .info {
        display: flex;
        flex-direction: column;
    }
}